.fzm-execution-card .metadata-container, .fzm-execution-card .metadata-properties { display: none; }
.fzm-execution-card .fzm-panel { padding: 1em; border: 1px solid var(--background-modifier-border); border-radius: 12px; }
